OpenAI_Davinci_chat_API/flows.json
[{"id":"e046a977.bb9a18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9d2b5879.0e5d1","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1650,"y":100,"wires":[]},{"id":"17f79f1c.73ee41","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":240,"wires":[]},{"id":"5a3832b2.5b0a84","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":500,"wires":[]},{"id":"f5ae718c.316b38","type":"switch","z":"e046a977.bb9a18","d":true,"name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"USinfectionlevel","vt":"str"},{"t":"eq","v":"How_many_cases","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":880,"wires":[[],[],["cb289536.3b98b8"]]},{"id":"ec33074f.b2a7b8","type":"comment","z":"e046a977.bb9a18","name":"Reply to the user","info":"","x":1180,"y":860,"wires":[]},{"id":"3de386c6.3648da","type":"change","z":"e046a977.bb9a18","d":true,"name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":620,"wires":[["9763359d.2edd48","898b81ff.40113","d7dd4e00.285ed"]]},{"id":"16c7f0b4.615e8f","type":"watson-text-to-speech","z":"e046a977.bb9a18","d":true,"name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_MichaelVoice","voicehidden":"en-US_MichaelVoice","format":"audio/wav","password":"","apikey":"oK7eTYzPKAuqK88AZ74VXwUz3Xvdy8Zqo8Hi7_GKc5ZS","payload-response":true,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/a464b093-0c22-492d-9bff-c04c0aada98d","x":920,"y":1020,"wires":[["742daf81.d00d3"]]},{"id":"cb289536.3b98b8","type":"function","z":"e046a977.bb9a18","name":"Watson Conversation Reply","func":"function createTextLinks(text) {\n\n  return (text || \"\").replace(\n    /([^\\S]|^)(((https?\\:\\/\\/)|(www\\.))(\\S+))/gi,\n    function(match, space, url){\n      var hyperlink = url;\n      if (!hyperlink.match('^https?:\\/\\/')) {\n        hyperlink = 'http://' + hyperlink;\n      }\n      return space + '<a href=\"' + hyperlink + '\">' + url + '</a>';\n    }\n  );\n}\n\nvar response = \"\"\n\nfor(i=0;i<msg.payload.output.generic.length;i++) {\n  response = response + msg.payload.output.generic[i].text ;\n}\n\nresponse = createTextLinks(response);\n\n// The news reports will have \\n, replace with breaks\nmsg.payload = response.replace(/(?:\\r\\n|\\r|\\n)/g, '<br />');\n\n// The news reports will have http: links. Make them \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":820,"wires":[["9763359d.2edd48","1a23ae0b.24dc8a"]]},{"id":"742daf81.d00d3","type":"play audio","z":"e046a977.bb9a18","name":"","voice":"102","x":1170,"y":900,"wires":[]},{"id":"6ada213b.763bc","type":"ui_template","z":"e046a977.bb9a18","group":"65638bb5.46df9c","name":"Chat History","order":0,"width":"10","height":"15","format":"<div id=\"{{'my_'+$id}}\" style=\"{{'color:'+theme.base_color}}\"></div>\n<script>\n(function(scope) {\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n      // Render the chatbot table when msg arrives\n      $(\"#my_\"+scope.$id).html(msg.payload);\n      // scroll to Bottom\n      var elmnt = document.getElementById(\"chatbot\");\n      elmnt.scrollIntoView(false);\n    }\n  });\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1170,"y":760,"wires":[[]]},{"id":"9763359d.2edd48","type":"function","z":"e046a977.bb9a18","name":"Build Chat table","func":"var chathistory = flow.get(\"history\")||[];\nvar chatstart = flow.get(\"chatstart\");\nvar who;\n\nif( typeof(chatstart) == 'undefined' ) { chatstart = true ; }\nif(chatstart===true) {\n    who = \"Q\";\n} else {\n    who = \"A\";\n}\n\nvar newchatentry = {\"who\":\"\",\"text\":\"\"};\nif( chathistory.length === 0 ) {\n    // First chat, init the table\n    newchatentry = {\"who\":\"A\",\"text\":\"Hello, we are Leicia and Nolan, representatives from AutoPlow McMaster. How can we help you?\"};\n\n    // Add the question, if its not a Clear Chat button press\n    if( msg.payload.length ) { \n        chathistory.push(newchatentry);\n        newchatentry = {\"who\":\"Q\",\"text\":msg.payload}; \n    }\n} else {\n    newchatentry = {\"who\":who,\"text\":msg.payload};\n}\nchathistory.push(newchatentry);\n\nmsg.payload=\"<style>\";\nmsg.payload=msg.payload+\"table { width: 488px; margin-top: 10px; }\";\nmsg.payload=msg.payload+\"tr:nth-child(even){background-color: #f2f2f2;}\";\nmsg.payload=msg.payload+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; width: 10%;}\";\nmsg.payload=msg.payload+\"</style>\";\n\nmsg.payload=msg.payload+\"<table id=\\\"chatbot\\\" span=100%><tr><th>Chat History</th></tr>\";\nfor( i = 0; i < chathistory.length; i++ ) {\n    if( chathistory[i].who == \"Q\" ) {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:right;\\\">\"+chathistory[i].text+\"</p></td></tr>\" ;\n    } else {\n        msg.payload = msg.payload + \"<tr><td><p style=\\\"text-align:left;background-color:#f2f2f2;\\\">\" +chathistory[i].text+\"</p></td></tr>\" ;\n    }\n}\n\nmsg.payload = msg.payload + \"</table>\";\nflow.set(\"chatstart\",false);\nflow.set(\"history\",chathistory);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":740,"wires":[["6ada213b.763bc","882dc57f.1af668"]]},{"id":"882dc57f.1af668","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1170,"y":720,"wires":[]},{"id":"3824ec84.1d3c1c","type":"inject","z":"e046a977.bb9a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Clear Chat","payload":"true","payloadType":"bool","x":140,"y":760,"wires":[["a7035622.a00a1"]]},{"id":"a7035622.a00a1","type":"change","z":"e046a977.bb9a18","name":"delete history","rules":[{"t":"delete","p":"history","pt":"flow"},{"t":"set","p":"chatstart","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":740,"wires":[["9763359d.2edd48"]]},{"id":"2dba6de6.119fe2","type":"ui_button","z":"e046a977.bb9a18","name":"","group":"7fa34511.0a7d64","order":7,"width":"6","height":"1","passthru":false,"label":"Clear Chat","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":720,"wires":[["a7035622.a00a1"]]},{"id":"97f64ba7.768728","type":"ui_microphone","z":"e046a977.bb9a18","name":"","group":"7fa34511.0a7d64","order":6,"width":0,"height":0,"maxLength":3,"maxRecogLength":"","timeslice":0,"press":"press","mode":"audio","interimResults":false,"x":70,"y":380,"wires":[["52a9f04e.1c2b48"]]},{"id":"7aa7e892.2264b","type":"function","z":"e046a977.bb9a18","d":true,"name":"","func":"if( typeof msg.payload.intents != 'undefined') {\n    if( msg.payload.intents.length > 0 ) {\n        if( typeof msg.payload.intents[0].intent!= 'undefined') {\n            return [msg, null];\n        }\n    }\n}\nmsg.payload = \"Sorry, the chat bot did not understand the question.\";\nreturn [null,msg];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":880,"wires":[["f5ae718c.316b38"],["16c7f0b4.615e8f"]]},{"id":"52a9f04e.1c2b48","type":"watson-speech-to-text","z":"e046a977.bb9a18","name":"speechToText","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"7QRVAEXbhqpIg5nJHB-ZYAmFi8dhYu0tn2I8Q84z5D6S","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-east.speech-to-text.watson.cloud.ibm.com/instances/30a8c483-4a76-4427-a79d-c4748dd53750","x":140,"y":460,"wires":[["3de386c6.3648da","2868ee3.acdf792","9763359d.2edd48"]]},{"id":"2868ee3.acdf792","type":"function","z":"e046a977.bb9a18","name":"","func":"msg.payload = ` \"${msg.payload}\"`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":360,"wires":[["47262a73.57eef4","7c373524.6f81fc","fff9f621.1dbe58"]]},{"id":"e81fbd81.2ae9c","type":"inject","z":"e046a977.bb9a18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"How to protect the environment?","payloadType":"str","x":90,"y":300,"wires":[["2868ee3.acdf792"]]},{"id":"47262a73.57eef4","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"fff9f621.1dbe58","type":"exec","z":"e046a977.bb9a18","d":true,"command":"python3 /home/yuxiang/interbotix_ws/src/interbotix_ros_manipulators/interbotix_ros_xsarms/examples/python_demos/voiceTest_forNodeRed_Basic.py","addpay":"payload","append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":1000,"y":220,"wires":[["cb289536.3b98b8","9d2b5879.0e5d1"],["17f79f1c.73ee41"],["5a3832b2.5b0a84"]]},{"id":"7c373524.6f81fc","type":"exec","z":"e046a977.bb9a18","command":"python3 /home/yuxiang/code/2023/AutoPlow_NLP_ChatBot/OpenAI_Davinci_chat_API/openAI.py ","addpay":"payload","append":"","useSpawn":"false","timer":"15","oldrc":false,"name":"","x":740,"y":460,"wires":[["9d2b5879.0e5d1","16c7f0b4.615e8f","742daf81.d00d3","cb289536.3b98b8","9763359d.2edd48"],["17f79f1c.73ee41"],["5a3832b2.5b0a84"]]},{"id":"499acc08.fa6194","type":"ui_text_input","z":"e046a977.bb9a18","name":"","label":"","tooltip":"","group":"7fa34511.0a7d64","order":9,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"payload","sendOnBlur":false,"className":"","topicType":"msg","x":100,"y":180,"wires":[["a6429ae0.70b61","3de386c6.3648da","2868ee3.acdf792","9763359d.2edd48"]]},{"id":"a6429ae0.70b61","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":290,"y":80,"wires":[]},{"id":"898b81ff.40113","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1420,"y":620,"wires":[]},{"id":"d7dd4e00.285ed","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":1500,"y":700,"wires":[]},{"id":"fe650a64.afb4a8","type":"comment","z":"e046a977.bb9a18","name":"","info":"can we add a filter? <2 seconds then cancel\n\npressing stop button will stop everyhting and clean cache?","x":90,"y":540,"wires":[]},{"id":"1a23ae0b.24dc8a","type":"debug","z":"e046a977.bb9a18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":900,"wires":[]},{"id":"65638bb5.46df9c","type":"ui_group","name":"Chat","tab":"cffac7b6.1e36","order":2,"disp":true,"width":"10","collapse":false},{"id":"7fa34511.0a7d64","type":"ui_group","name":"Record","tab":"cffac7b6.1e36","order":1,"disp":true,"width":"6","collapse":false},{"id":"cffac7b6.1e36","type":"ui_tab","name":"COVID Voice Chatbot","icon":"dashboard","disabled":false,"hidden":false}]